In [12]:
import pandas as pd
import numpy as np
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')

In [6]:
def gen_returns(df):
    df['r_1d'] = ((df['ADJ_CLOSE'].shift(-1) - df['ADJ_CLOSE']) / df['ADJ_CLOSE'])
    df['r_1w'] = ((df['ADJ_CLOSE'].shift(-5) - df['ADJ_CLOSE']) / df['ADJ_CLOSE'])
    df['r_1m'] = ((df['ADJ_CLOSE'].shift(-22) - df['ADJ_CLOSE']) / df['ADJ_CLOSE'])
    df['log_r_1d'] = np.log(1 + df['r_1d'])
    df['log_r_1w'] = np.log(1 + df['r_1w'])
    df['log_r_1m'] = np.log(1 + df['r_1m'])

In [18]:
rosn = pd.read_csv('ROSN_quotes.csv')
lkoh = pd.read_csv('LKOH_quotes.csv')
sibn = pd.read_csv('SIBN_quotes.csv')
imoex = pd.read_csv('IMOEX_quotes.csv')
mcftr = pd.read_csv('MCFTR_quotes.csv')
usd = pd.read_excel('USDRUB.xlsx')
ruonia = pd.read_excel('RUONIA.xlsx')

In [8]:
gen_returns(rosn)

In [19]:
usd

      nominal       data     curs         cdx
0           1 2023-09-02  96.3411  Доллар США
1           1 2023-09-01  96.3344  Доллар США
2           1 2023-08-31  95.9283  Доллар США
3           1 2023-08-30  95.7070  Доллар США
4           1 2023-08-29  95.4717  Доллар США
...       ...        ...      ...         ...
3371        1 2010-01-15  29.4299  Доллар США
3372        1 2010-01-14  29.6409  Доллар США
3373        1 2010-01-13  29.3774  Доллар США
3374        1 2010-01-12  29.4283  Доллар США
3375        1 2010-01-01  30.1851  Доллар США

[3376 rows x 4 columns]